body {
  background: url(../../../images/dog01.png) no repeat fixed;
  background-size: cover;
}


/* 
  미디어쿼리를 사용하여
  최대 너비가 1024px 일 때 dog01






*/


@media screen and (max-width: 1024px) {
  body {
    background: url(../../../images/dog02.jpg) no repeat fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url(../../../images/dog03.jpg) no repeat fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: url(../../../images/dog01.png) no repeat fixed;
    background-size: cover;
  }
}
